 /* Overlay Styling */
 .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
/* Form Container Styling */
.form-container {
    color: aliceblue;
    background-color: #21202082;
    padding: 20px;
    width: 320px;
    border: 3px solid #3d3d3d;
    border-radius: 19px;
    box-shadow: 0px 0px 8px 1px rgb(47 47 47 / 42%);
    text-align: center;
}
/* Input Fields Styling */
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="date"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Select Fields Styling */
select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Buttons Styling */
button {
    width: 100%;
    /* padding: 10px;
    margin-top: 10px; */
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
/* button:hover {
    background-color: #45a049;
} */
/* Switch Button Styling */
.switch-btn {
    background-color: transparent;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
/* Main Content Styling */
#main-content {
    padding: 20px;
    text-align: center;
}
/* Logout Button Styling */
#logout-btn {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}
#logout-btn:hover {
    background-color: #da190b;
}
/* User Information Form Styling */
#user-info-form {
    display: none;
    max-width: 500px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#user-info-form h2 {
    text-align: center;
}
/* Profile Photo Preview Styling */
#profile-photo-preview {
    display: block;
    margin: 10px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}
/* Responsive Design */
@media (max-width: 600px) {
    .form-container, #user-info-form {
        width: 90%;
    }
    input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="date"], textarea, select {
        width: 100%;
    }
    button {
        width: 100%;
    }
}