* {
    margin: 0%;
    padding: 0%;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    cursor: pointer;

}

.emoji
{
    width: 100%;
height: auto;
margin-top: 20px;
display: flex;
align-items: center;
justify-content: center;
}
/* .emoji iframe
{
    width: 20%;
    height: 70px;

} */

.emoji h2{
    margin: 10px 0px;
    font-size: 25px;
}
#main-middle-text
{
    margin: 0% 20%;
}

body {
    background: #080808;
    background-image: url(images/menu-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}

/* #contaner {
    width: 100%;
    height: 136vh;
} */

.header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fff;
    margin: 20px
}

.logo span {
    color: #ff045c;
}

li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;



}

li a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    position: relative;
    transition: 0.5s;
}

li a:hover {
    color: #ff004f;
}

li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

li a:hover::after {
    width: 100%;

}


/* -----------------responsive dropdown menu------------------- */

.toggle_btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 20px;
    display: none;

}

.dropdown_manue {
    display: none;
    position: absolute;
    right: 2rem;
    height: 0;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.dropdown_manue.open {
    height: 263px;
}

.dropdown_manue li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .dropdown_manue .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
} */

@media(max-width:992px) {



    .navbaar .navi {
        display: none;
    }

    .navbaar .toggle_btn {
        display: block;
    }

    .dropdown_manue {
        display: block;
    }
}

@media(max-width:576px) {
    .dropdown_manue {
        left: 2rem;
        width: unset;
    }

}


@media(max-width:300px) {
    .shop-list div img {
        height: 14%;
        width: 100%;
        border-radius: 20px;
    }
}


/* -----------------pizza----------------- */

.shop {
    color: #fff;
}

.shop-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.shop-list div {
    margin: 20px;
}

.shop-list div img {
    border-radius: 20px;
    
}

.text {
    color: #ff004f;
    text-align: center;
    margin: 20px 0px;

}

.middle-text {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;


    background-color: #262626;
    border-radius: 20px;
    text-align: center;
    margin: 5% 20%;
    transition: 0.5s;

}






.middle-text:hover {
    background-color: #ff6200;
    transform: translateY(-3.5px);
}



.middle-text h2 {
    margin-bottom: 1px;
    color: #ff004f;
}

.middle-text p {
    margin-bottom: 6px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.price h3 {
    color: #00ff11;
}

.price button {
    border: none;
    color: #fff;
    text-decoration: none;
    background-color: #262626;
    border-radius: 20px;
    padding: 2px 8px;
    transition: 0.5s;
}

.price button:hover {
    background-color: #ff004f;
    transform: translateY(-5px);
}


/* ---------------------------contact-------------------- */

.contact-list div {

    color: #fff;
    text-align: center;
    margin: 20px 0px;
}


.contact-list-extra div {

    color: #fff;
    text-align: center;
    margin: 20px 0px;
}


.contact-list a {
    margin: 0px 15px;
    text-decoration: none;
}

.contact-list-extra a {
    margin: 0px 15px;
    color: #fff;
    text-decoration: none;

}

.contact-list-extra a:hover {

    color: #ffea00;

}

.contact-list i {

    color: #fff;
    font-size: 26px;


}

.contact-list-extra a span {
    color: #fff;

}


.contact-list-extra a span:hover {
    color: #ffea00;
}

.contact-list #purple:hover {
    color: #ff045c;
}

.contact-list #blue:hover {
    color: blue;
}

.contact-list #green:hover {
    color: rgb(0, 255, 0);
}

.contact-list #lblue:hover {
    color: rgb(0, 179, 255);
}

.reviewbtn {

    text-align: right;


}

.reviewbtn a {
    color: #0a0a0a;
    margin: 0px 30px;
    margin-right: 20px;
    text-decoration: none;
    background-color: #ffea00;
    font-weight: bolder;
    border-radius: 20px;
    padding: 4px 17px;
    transition: 0.5s;
}

.reviewbtn a:hover {
    background-color: #ff004f;

}
body img{
    height: 200px;
    width: 300px;
    object-fit: cover;
}


